# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.duckdb

# Ignore data content but keep folder
data/*
!data/.gitkeep

# Ignore local logs but keep folder
log/*
!log/.gitkeep

# Ignore virtual envs
.env/
.venv/

# Git metadata
.git/

# OS files
.DS_Store
